/* ==================
/*  Basic Color and Button */
/*=====================*/
body{
    background-color: #f9f9f9;
}

.bg-violet{
    background-color: #7158e2 !important;
    
}
.btn-purple{
    background-color: #ffaf40 !important;
    color: #fff;
}

/* =======================
/*  Navigation */
/*=====================*/
.navbar-top .account-section a{
    margin-right: 20px;
}
.navbar-top .account-section .fa-cart-shopping{
    font-size: 150%;
    color: #fff;
    vertical-align: middle;
    cursor: pointer;
}
.navbar-top .account-section .searchbtn{
    font-size: 18px;
    display: none;
    vertical-align: middle;
    margin-right: 5px;
}

.navbar-bottom{
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.355)!important;
}

.navbar-bottom .nav-link{
    color: #7158e2;
}
.navbar-bottom .nav-link:hover{
    color: #ffaf40;
}
.navbar-bottom .nav-link:first-child{
    margin-left: -16px;
}


/* Mobile View */
@media (max-width: 992px){
    .navbar-top .navbar-brand{
        display: inline-block;
        margin: 0 auto;
    }
    .navbar-top .input-group .form-control,
    .navbar-top .input-group .account-section,
    .navbar-top .account-section .btn-purple{
        font-size: 75%;
    }
    .navbar-top .account-section .fa-cart-shopping{
        font-size: 16px;
    }
    .navbar-top .account-section a{
        margin-right: 5px;
    }
    .navbar-top .account-section .searchbtn{
        display: inline;
    }
    .navbar-top .searchform{
        display: none !important;
    }
    .dblock .searchform{
        display: block !important;
        width: 100%;
        order:1;
        margin-top: 10px;
    }
    .navbar-toggler{
        border: 2px solid #fff !important;
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }
    .navbar-top{
        position: sticky !important;
        top: 0;
        z-index: 99;
        box-shadow: 0 0 8px #494949;
    }
    .navbar-bottom{
        visibility: hidden;
    }
    .navbar-bottom .navbar{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
}


/* ====================================
/*  Feature and Top Selling Section */
/*=====================================*/
.feature-section .feature-title,
.top-selling-section .feature-title{
    font-size: 115%;
}
.feature-section .card,
.top-selling-section .card {
    border: 1px solid #7158e2;
    transition: box-shadow 0.5s;
    margin-bottom: 20px;
}
.feature-section .card:hover,
.top-selling-section .card:hover{
    box-shadow: 0px 0px 10px #7158e2;
}
.feature-section .card .card-body img,
.top-selling-section .card .card-body img{
    object-fit: cover;
    padding: 0;
    width: 100%;
}

.feature-section .card .card-footer,
.top-selling-section .card .card-footer{
    padding: 15px;
    border-top: 1px solid #7158e2;
    background-color: #2c3e50;
    display: flex;
    flex-direction: column;
    flex-basis: 1 1 auto;
}

.feature-section .card .card-footer a,
.top-selling-section .card .card-footer a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-bottom: 15px;
    height: 60px;
    text-align: left;
}
.feature-section .card .card-footer p,
.top-selling-section .card .card-footer p{
    color: #ffaf40;
    font-weight: 500;
}


/* ====================================
/*  Footer Section */
/*=====================================*/

footer .address .h4::after,
footer .help .h4::after,
footer .social-links .h4::after{
    content: "";
    display: block;
    width: 180px;
    height: 4px;
    background-color: #7158e2;
    margin-top: 5px;
}

footer .help a{
    text-decoration: none;
    color: #f9f9f9;
}
footer .help a:hover{
    text-decoration: underline;
    text-decoration-color: #7158e2;
}
footer .help ul li{
    margin-bottom: 10px;
}

footer .social-links a{
    text-decoration: none;
    
}

footer .social-links .links{
    max-width: 350px;
    display: flex;
    justify-content: space-between;
}
footer .social-links i{
    font-size: 35px;
    margin-top: 10px;
    background-color: #fff;
    padding: 10px 20px;
}
footer .social-links .fa-facebook-f{
    color: #1877F2;
}
footer .social-links .fa-twitter{
    color: #00acee;
}
footer .social-links .fa-whatsapp{
    color: #075e54;
}
footer .social-links .fa-instagram{
    color: #E4405F;
}

/* Mobile View */
@media (max-width: 576px){
    footer .row{
        text-align: center;

    }
    footer .address .h4::after,
    footer .help .h4::after,
    footer .social-links .h4::after{
        content: "";
        display: block;
        width: 50px;
        height: 4px;
        background-color: #7158e2;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
    }
    
    footer .address,
    footer .help{
        margin-bottom: 30px;
    }
    footer .social-links .links{
        justify-content: center;
        max-width: 100%;
    }
    footer .social-links .links a{
        margin-right: 10px;
        padding: 10px;
    }
    footer .social-links .links i{
        font-size: 25px;
        margin-right: 10px;
        padding: 10px 15px;
    }
}
@media (min-width: 576px){
    footer .social-links .links i{
        font-size: 25px;
        margin-right: 10px;
        padding: 10px 15px;
    }
}
@media (min-width: 768px){
    footer .social-links .links i{
        font-size: 18px;
        margin-right: 10px;
        padding: 12px;
    }
}

@media (min-width: 992px){
    footer .social-links .links i{
        font-size: 25px;
        margin-right: 10px;
        padding: 10px 15px;
    }
}





/* =====================================================
/*  Login and Registration Section
/*=====================================================*/
.login-section,
.register-section{
    margin-top: 70px;
    margin-bottom: 70px;
}
.login-section .or,
.register-section .or{
    position: relative;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.login-section .or::before,
.login-section .or::after,
.register-section .or::before,
.register-section .or::after{
    content: "";
    display: block;
    width: 200px;
    height: 2px;
    background-color: #767676;
}
.login-section .or::before,
.register-section .or::before{
    position: absolute;
    left: 19%;
    top: 50%;
    z-index: -1;
}
.login-section .or::after,
.register-section .or::after{
    position: absolute;
    right: 19%;
    top: 50%;
    z-index: -2;
}
.login-section .or span,
.register-section .or span{
    background-color: #fff;
    padding: 0 20px;
}

@media (max-width:576px){
    .login-section,
    .register-section{
        margin-left: 15px;
        margin-right: 15px;
    }
}