*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
}

.product_name{
    margin-top: 50px;
    height: 80px;
    width: 100%;
    background-color: rgb(245, 240, 240);
    color: rgb(42, 8, 236);
    border-radius: 10px;
    box-shadow: 10px 10px 5px black;
    
}

.heading{
    padding: 2% 0;
}

.card{
    border-radius: 10px;
    box-shadow: 10px 10px 5px black;
}
.company_list:hover{
    cursor: pointer;
}