body{
    background-color: rgb(231, 233, 238);
}

.card{
    height: 110vh;
    width: 350px;
    box-shadow: 10px 10px 5px black;
    
}
.card-title{
    text-align: center;
}

.card-body hr{
   
    border: 2px solid blue;
}
.tv_btn{
    margin: 4%;
    margin-bottom: 0px;
}

.product_name{
    margin-top: 50px;
    height: 80px;
    width: 100%;
    background-color: rgb(38, 16, 233);
    color: rgb(245, 245, 247);
    border-radius: 10px;
    box-shadow: 10px 10px 5px black;
    
}

.heading{
    padding: 2% 0;
}

a{
    text-decoration: none;
}
